<div class="item">
    <div>
        <h3>Imagem da receita</h3>
    </div>
    <div>
        <input type="url" name="url_imagem" value="{{ recipe.url_imagem }}">
    </div>
</div>

<div class="item">
    <div>
        <h3>Nome da receita</h3>
    </div>
    <div>
        <input type="text" name="titulo" value="{{ recipe.titulo }}">
    </div>
</div>

<div class="item">
    <div>
        <h3>Autor</h3>
    </div>
    <div>
        <input type="text" name="autor" value="{{ recipe.autor }}">
    </div>
</div>

<div class="item">
    <div id="ingredientes">
        <div>
            <h3>Ingredientes</h3>
        </div>

        {% for ingrediente in recipe.ingredientes %}
        <div class="ingrediente">
            <input type="text" name="ingredientes[]" value="{{ ingrediente }}">
        </div>
        {% endfor %} 

    </div>
    <button type="button" class="add-ingrediente">Adicionar novo</button>
</div>

<div class="item">
    <div id="modoPreparo">
        <div>
            <h3>Modo de preparo</h3>
        </div>

        {% for preparo in recipe.modo_preparo %}
        <div class="novoPreparo">
            <input type="text" name="modo_preparo[]" value="{{ preparo }}">
        </div>
        {% endfor %}

    </div>
    <button type="button" class="add-preparo">Adicionar novo</button>
</div>

<div class="item">
    <div>
        <h3>Informações adicionais</h3>
    </div>
    <div class="box-info">
        <textarea name="info_adicionais" cols="100" rows="10">{{ recipe.info_adicionais }}</textarea>
    </div>
</div>