<!DOCTYPE html>

<html lang="pt-br">
    <head>

      {% block title %}
        <title>Foodfy</title>
      {% endblock title %}

        <meta cherset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/sobre.css">
        <link rel="stylesheet" type="text/css" href="/css/receitas.css">
        <link rel="stylesheet" type="text/css" href="/css/create-recipes.css">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <!-- Material Icon - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>
        {% block header %}
            <header>
                <div class="container">
                    <div class="header">
                        <div class="logo">
                            <a href="/">
                                <img src="/image/logo.png">
                            </a>
                        </div>

                        <nav>
                            <ul class="menu">
                                <li><a href="/sobre">Sobre</a></li>
                                <li><a href="/receitas">Receitas</a></li>
                            </ul>
                        </nav>

                        {# Dark-Mode #}
                        {# <div class="tema_toggle">
                            <input type="checkbox" name="theme" id="switch">
                            <label for="switch">Tema</label>
                        </div> #}
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %} {% endblock %}

        <footer>
            <div class="footer">
                <p>Todos os reservados, receitas Foodfy.</p>
            </div>
        </footer>

        <script src="/scripts.js"></script>
    </body>
</html>