<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>Not found</title>
        <meta cherset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- Material Icon - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
          .not-found{
            width: 900px;
            height: 500px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 50px;
          }
          .not-found-icon i{
            font-size: 150px;
          }
          .not-found-number{
            font-size: 100px;
            margin-bottom: 30px;
          }
          .not-found-link{
            color: #3495eb;
          }
        </style>
    </head>

    <body>
      <div class="not-found">
        <div class="not-found-icon">
          <i class="material-icons">
            sentiment_very_dissatisfied
          </i>
          <div class="not-found-aviso">
            <p class="not-found-number">404</p>
            <h1>Page not found</h1>
            <p>
              A página que você está procurando não existe ou ocorre outro erro. 
              <a href="/" class="not-found-link">Clique aqui</a> para voltar ao inicio!
            </p>
          </div>
        </div>
      </div>
    </body>
</html>