{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy - Sobre</title>
{% endblock %}

{% block header %}
    <header class="header">
        <!-- LOGO -->
        <div class="logo">
            <a href="/">
                <img src="/image/logo.png">
            </a>
        </div>

        <nav>
            <!-- MENU -->
            <ul class="menu">
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/receitas">Receitas</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}


{% block content %}
    <section class="sobre" id="page-sobre">
        <div class="container">
            <div class="sobre-text">
                <h2 class="title-sobre">Sobre o Foodfy</h2>
                <p class="p-sobre">
                     O Foodfy foi criado por um grupo de apaixonados por gastronomia. Nós adoramos degustar, cozinhar, 
                    receber os amigos, compartilhar receitas e idéias, dar opinião, enfim, somos a "turma da cozinha"! 
                    Aquele pessoal animado que adora sentar em volta de uma mesa com os amigos, tomar um bom vinho, 
                    comer bem e, é claro, cozinhar e falar de culinária! Por esta razão, criamos este site que é dedicado 
                    a todos os entusiastas da gastronomia como nós!
                </p>

                <h2 class="subtitle-sobre">Como Tudo começou...</h2>
                <p class="p-sobre">
                    O Foodfy foi lançado em março de 2016, e, como o próprio nome já diz, pretende acabar com as 
                    fronteiras gastronômicas para que possamos descobrir e compartilhar receitas novas do mundo todo, 
                    trocar experiências, conselhos e novas ideias culinárias.
                </p>

                <h2 class="subtitle-sobre">Nossas receitas</h2>
                <p class="p-sobre">
                    O Foodfy é uma espécie de rede social gastronômica. Nosso maior objetivo é compartilhar receitas, 
                    reunindo os amantes da boa gastronomia para comentar, discutir, perguntar, explicar, papear em torno 
                    das receitas postadas.
                </p>
                <p class="p-sobre">
                    O Foodfy é uma espécie de rede social gastronômica. Nosso maior objetivo é compartilhar receitas, 
                    reunindo os amantes da boa gastronomia para comentar, discutir, perguntar, explicar, papear em torno 
                    das receitas postadas.
                </p>
                <p class="p-sobre">
                    O Foodfy é uma espécie de rede social gastronômica. Nosso maior objetivo é compartilhar receitas, 
                    reunindo os amantes da boa gastronomia para comentar, discutir, perguntar, explicar, papear em torno 
                    das receitas postadas.
                </p>
            </div>
        </div>
    </section>
{% endblock %}