/* === PAGE CREATE === */
h2, h3 {
  color: var(--color-principal);
}

.form-recipes__item {
  margin-bottom: 30px;
}

.form-recipes__title {
  margin-bottom: 6px;
}

.form-recipes__field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  height: 39px;
  border: 1px solid var(--color-text-destac2);
  border-radius: 4px;
  outline: none;
}

.mg-b{
  margin-bottom: 10px;
}

.ingrediente .form-recipes__field,
.novoPreparo .form-recipes__field {
  margin-bottom: 5px;
}

.form-recipes__textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  resize: none;
  border: 1px solid var(--color-text-destac2);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}