/* === === FONTES === === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* === === RESET CSS === === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-bg: #ffffff;
    --color-bg-panel: #FBDFDB;
    --color-principal: #000000;
    --color-secundaria: #ffffff;
    --color-span: #777777;
    
    --color-bg-header: #000000;
    --color-bg-efect1: #6558C3;
    --color-bg-efect2: #DC4747;
    --color-text-destac1: #444444;
    --color-text-destac2: #DDDDDD;
    --color-headings: #0077FF;

    --color-bg-footer: #EEEEEE;
    --color-footer-text: #999999;
}

a{
    text-decoration: none;
    color: var(--color-principal);
}

.hide{
    display: none;
}



/* === === HEADER === ===*/
.header{
    max-width: 940px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.menu{
    display: flex;
    margin-left: 100px;
}

nav ul.menu{
    list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    margin: 10px;
    position: relative;
}

.menu li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-principal);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu li a:hover::after{
    width: 100%;
    transition: width 700ms ease;
}
/* === === END-HEADER === ===*/



/* === === TEMA === ===*/
input[type="checkbox"]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label{
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    float: right;
    background: gray;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label{
    background-color: var(--color-headings);
}

input:checked + label::after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

input:active:after{
    width: 45px;
}
/* === === END-TEMA === ===*/



/* === === CONTAINER-PRINCIPAL === === */
.container{
    max-width: 940px;
    margin: 0 auto;
}
/* === END-CONTAINER-PRINCIPAL === */



/* === === BANNER === === */
.banner-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-bg-panel);
    padding: 30px;
    border-radius: 30px;
}

.banner-text{
    flex-basis: 60%;
}

.banner-text h1{
    color: var(--color-principal);
    font-size: 29px;
    margin-bottom: 10px;
}

.banner-text p{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
/* === === END-BANNER === === */



/* === === CARDS RECEITAS === === */
.receitas-mais-acessadas h2{
    color: var(--color-principal);
    margin-top: 40px;
    margin-bottom: 20px;
}

.receitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 61px;
}

.card{
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card .card-img{
    height: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 15px;
}

.receita-title{
    color: var(--color-principal);
    margin-top: 20px;
    font-size: 18px;
}

.receita-autor{
    display: inline-block;
    font-size: 14px;
    color: var(--color-span);
    margin-bottom: 30px;
}
/* === === END-CARDS RECEITAS === === */



/* === === FOOTER === === */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 62px;
    background: var(--color-bg-footer);
    text-align: center;
}

.footer p{
    color: var(--color-footer-text);
    font-size: 14px;
}
/* === === END-FOOTER === === */