/* ===  FONTES === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* === RESET CSS === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

.hide{
    display: none;
}


/* === VARIAVES DE COR === */
:root{
    --color-text: #000000;
}

.header{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center; /*centraliza os itens ao centro*/
    flex-wrap: wrap;
    padding: 30px 0;
}

.menu{
    display: flex;
    margin-left: 100px;
}

nav ul.menu{
    list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    padding: 10px;
}

/* === HEADER PAGE RECEITAS ===*/

.header-receitas{
    background-color: #000000;
}

.logo-receitas{
    max-width: 940px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


/* === CONTAINER-PRINCIPAL === */
.container{
    max-width: 940px;
    margin: 0 auto;
}


/* === BANNER === */
.banner-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FBDFDB;
    padding: 30px;
    border-radius: 30px;
}

.banner-text{
    flex-basis: 60%;
}

.banner-text h1{
    font-size: 29px;
    margin-bottom: 10px;
}

.banner-text p{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}


/* === RECEITAS === */
.receitas-mais-acessadas h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.receitas{
    display: flex;
    flex-wrap: wrap;
}

.img-receitas{
    max-width: 100%; /*deixa as imagens responvisa ocupando no maximo 100% do container onde estão*/
    display: block;
    border-radius: 15px;
}

.card img{
    height: 110px;
    cursor: pointer;
}

.receita-title{
    margin-top: 20px;
    font-size: 18px;
}

.receita-autor{
    display: inline-block;
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

.receita-descricao p{
    font-size: 28px;
    margin-bottom: 6px;
}

.receita-descricao span{
    font-size: 18px;
}

.receita-descricao{
    position: absolute;
    top: 260px;
    text-align: center;
}

.receitas > div{
    flex: 1 1 250px;
    margin: 0 10px;
}

.receitas > div:nth-child(1){
    margin-left: 0px;
}

.receitas > div:nth-child(3){
    margin-right: 0px;
}

.receitas > div:nth-child(4){
    margin-left: 0px;
}

.receitas > div:nth-child(6){
    margin-right: 0px;
}

.receitas > div:nth-child(7){
    margin-left: 0px;
}

.receitas > div:nth-child(9){
    margin-right: 0px;
}

.receitas > div:nth-child(10){
    margin-left: 0px;
}

.receitas > div:nth-child(12){
    margin-right: 0px;
}

/* === RECIPES === */
.items-recipes{
    line-height: 24px;
    margin-bottom: 30px;
}
.recipes p.receita-title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.recipes span.receita-autor{
    display: block;
    text-align: center;
    font-size: 20px;
}

.recipes .items-recipes h2{
    font-size: 24px;
}

.recipes .items-recipes h2 span{
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
}

.recipes .items-recipes input.btn-recipes{
    border: none;
    background: none;
    outline-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    transition: 600ms;
}

.recipes .items-recipes ul{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    list-style: inside;
}

.recipes .items-recipes p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/* === MODAL === */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    opacity: 0; /*deixa transparente*/
    visibility: hidden; /*fica escondido*/
}

.modal{
    position: relative;
    background-color: #ffffff;  
    width: 647px;
    height: 413px; 
    margin: 25vh auto;
    border-radius: 10px;
}

.modal-receita{
    display: flex;
    justify-content: center;
}

.modal-receita img{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    top: 5%;
    position: absolute;
}


/* === FECHAR MODAL === */
.modal .close-modal{
    position: absolute;
    color: #777777;
    right: 43%;
    bottom: 20px;
    cursor: pointer;
    font-size: 16px;
}


/*=== MODAL ACTIVE ===*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}


/* === FOOTER === */
footer{
    height: 62px;
    line-height: 62px;
    background: #EEEEEE;
    text-align: center;
}

footer p{
    color: #999999;
    font-size: 14px;
}


/* === PAGE SOBRE === */

#page-sobre .title-sobre, .subtitle-sobre{
    margin-bottom: 25px;
}

#page-sobre .title-sobre{
    font-size: 24px;
}

#page-sobre .subtitle-sobre{
    font-size: 20px;
}

#page-sobre .p-sobre{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px;
}
