/*=== Pagina Receitas ===*/

.receitas > div:nth-child(1){
    margin-left: 0px;
}

.receitas > div:nth-child(3){
    margin-right: 0px;
}

.receitas > div:nth-child(4){
    margin-left: 0px;
}

.receitas > div:nth-child(6){
    margin-right: 0px;
}

.receitas > div:nth-child(7){
    margin-left: 0px;
}

.receitas > div:nth-child(9){
    margin-right: 0px;
}

.receitas > div:nth-child(10){
    margin-left: 0px;
}

.receitas > div:nth-child(12){
    margin-right: 0px;
}