/*=== Pagina Sobre ===*/

.title-sobre, .subtitle-sobre{
    margin-bottom: 25px;
}

.title-sobre{
    font-size: 24px;
}

.subtitle-sobre{
    font-size: 20px;
}

.p-sobre{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px;
}