/*=== reset css ===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
}

header{
    max-width: 940px;
    margin: 0 auto;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

/*===  fontes ===*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*=== variaveis ===*/
:root{
    --color-text: #000000;
}

.header{
    display: flex;
    align-items: center; /*centraliza os itens ao centro*/
    flex-wrap: wrap;
    padding: 30px 0;
}

.menu{
    display: flex;
    margin-left: 100px;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    padding: 10px;
}

/*=== container ===*/
.container{
    max-width: 940px;
    margin: 0 auto;
}

/*=== banner ===*/
.banner-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FBDFDB;
    padding: 30px;
    border-radius: 30px;
}

.banner-text{
    flex-basis: 60%;
}

.banner-text h1{
    font-size: 29px;
    margin-bottom: 10px;
}

.banner-text p{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

/*=== receitas ===*/

.receitas-mais-acessadas h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.receita-card img{
    cursor: pointer;
}

.receita-title{
    margin-top: 20px;
    font-size: 18px;
}

.receita-autor{
    display: inline-block;
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

.receitas{
    display: flex;
    flex-wrap: wrap;
}

.img-receitas{
    max-width: 100%; /*deixa as imagens responvisa ocupando no maximo 100% do container onde estão*/
    display: block;
    border-radius: 15px;
}

.receitas > div{
    flex: 1 1 250px;
    margin: 0 10px;
}

.receitas > div:nth-child(1){
    margin-left: 0px;
}

.receitas > div:nth-child(3){
    margin-right: 0px;
}

.receitas > div:nth-child(4){
    margin-left: 0px;
}

.receitas > div:nth-child(6){
    margin-right: 0px;
}

/* === Modal === */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    opacity: 0; /*deixa transparente*/
    visibility: hidden; /*fica escondido*/
}

.modal{
    position: relative;
    background-color: #ffffff;
    width: 60%;
    height: 50%;
    margin: 25vh auto;
    border-radius: 10px;
}

.modal .close-modal{
    position: absolute;
    color: #100F12;
    right: 8px;
    top: 3px;
    cursor: pointer;
}

/*=== MODAL ACTIVE ===*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-receita img{
    width: 100px;
    height: 100px;
}


/*=== footer ===*/
footer{
    height: 62px;
    line-height: 62px;
    background: #EEEEEE;
    text-align: center;
}

footer p{
    color: #999999;
    font-size: 14px;
}


