{% extends "layout.njk" %}

{% block header %}

  <header class="header-receitas">
      <div class="logo-receitas">
          <a href="/receitas">
              <img src="/image/logo-receitas.png" alt="logo">
          </a>
      </div>
  </header>

{% endblock %}

{% block content %}
    <div class="container">

        <form  class="form-recipes" method="POST" action="/receitas?_method=PUT">
            
            <div class="page-edit-topo">
                <h2>Editando receita</h2>
                <button type="submit">Salvar receita</button>
            </div>
            
            {% include 'receitas/fields.njk' %}
            
            <input type="hidden" name="id" value="{{ recipe.id }}">

        </form>

        <form id="form-delete" method="POST" action="/receitas?_method=DELETE">
            <input type="hidden" name="id" value="{{ recipe.id }}">

            <div class="page-edit-topo">
                <button type="submit" class="btn">Deletar</button>
            </div>
        </form>

        {% include 'receitas/delete.njk' %}
    </div>
{% endblock %}