<div class="item">
    <div>
        <h3>Imagem da receita</h3>
    </div>
    <div>
        <input type="url" name="imagem_receita" value="{{ recipes.imagem_receita }}">
    </div>
</div>

<div class="item">
    <div>
        <h3>Nome da receita</h3>
    </div>
    <div>
        <input type="text" name="nome" value="{{ recipes.nome }}">
    </div>
</div>

<div class="item">
    <div>
        <h3>Autor</h3>
    </div>
    <div>
        <input type="text" name="autor" value="{{ recipes.autor }}">
    </div>
</div>

<div class="item">
    <div id="ingredientes">
        <div>
            <h3>Ingredientes</h3>
        </div>
        <div class="ingrediente">
            {% for ingrediente in recipes.ingredientes %}
                <input type="text" name="ingredientes[]" value="{{ ingrediente }}">
            {% endfor %}
        </div>
    </div>
    <button type="button" class="add-ingrediente">Adicionar novo</button>
</div>

<div class="item">
    <div id="modoPreparo">
        <div>
            <h3>Modo de preparo</h3>
        </div>
        <div class="novoPrepraro">
            {% for preparo in recipes.modo_preparo %}
                <input type="text" name="modo_preparo[]" value="{{ preparo }}">
            {% endfor %}
        </div>
    </div>
    <button type="button" class="add-preparo">Adicionar novo</button>
</div>

<div class="item">
    <div>
        <h3>Informações adicionais</h3>
    </div>
    <div class="box-info">
        <textarea name="info_adicionais" cols="100" rows="10">{{ recipes.info_adicionais }}</textarea>
    </div>
</div>