{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block header %}

    <header class="header-receitas">
        <div class="logo-receitas">
            <a href="/">
                <img src="/image/logo-receitas.png" alt="logo">
            </a>
        </div>
    </header>

{% endblock %}
        
{% block content %}
    <section class="receitas-mais-acessadas">
        <div class="container">
            <h2>Gerenciar receitas</h2>
            <div class="receitas">
                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" class="img-receitas" alt="Imagem de {{recipe.title}}">
                        <p class="receita-title">{{recipe.title}}</p>
                        <span class="receita-autor">{{recipe.author}}</span>
                    </div>
                {% endfor%}

                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" class="img-receitas" alt="Imagem de {{recipe.title}}">
                        <p class="receita-title">{{recipe.title}}</p>
                        <span class="receita-autor">{{recipe.author}}</span>
                    </div>
                {% endfor%}
            </div>
        </div>
    </section>
{% endblock %}