{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock %}
        
{% block content %}
    <section class="receitas-mais-acessadas">
        <div class="container">
            <div class="receitas">
                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" class="img-receitas" alt="Imagem de {{recipe.title}}">
                        <p class="receita-title">{{recipe.title}}</p>
                        <span class="receita-autor">{{recipe.author}}</span>
                    </div>
                {% endfor%}

                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" class="img-receitas" alt="Imagem de {{recipe.title}}">
                        <p class="receita-title">{{recipe.title}}</p>
                        <span class="receita-autor">{{recipe.author}}</span>
                    </div>
                {% endfor%}
            </div>
        </div>
    </section>
{% endblock %}