{% extends "layout.njk" %}

{% block title %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block header %}

  <header class="header-receitas">
      <div class="logo-receitas">
          <a href="/receitas">
              <img src="/image/logo-receitas.png" alt="logo">
          </a>
      </div>
  </header>

{% endblock %}

{% block content %}
  <section class="receitas-mais-acessadas">
    <div class="container">

        <div class="recipes">

          <div class="page-show-topo">
            <h3>Receita: {{recipe.titulo}}</h3>
            <a href="/receitas/{{ recipe.id }}/edit" class="button">Editar receita</a>
          </div>

          <section class="avatar" style="background-image: url({{recipe.url_imagem}})"></section>
          <p class="receita-title">{{recipe.titulo}}</p>
          <span class="receita-autor">por {{recipe.autor}}</span>
         
          <div class="items-recipes">

            <h2>Ingredientes</h2>
            <div id="ingredientes">
              <ul>
                {% for ingrediente in recipe.ingredientes %}
                  <li>{{ingrediente}}</li>
                {% endfor %}
              </ul>
            </div>
        
            <h2>Modo de preparo</h2>
            <div id="preparo">
              <ul>
                {% for preparo in recipe.modo_preparo %}
                  <li>{{preparo}}</li>
                {% endfor %}
              </ul>
            </div>
          
            <h2>Informações</h2>
            <div id="informacoes">
              <p>{{recipe.info_adicionais}}</p>
            </div>

          </div>
          
        </div>
      
    </div>
  </section>
{% endblock %}