{% extends "layout.njk" %}

{% block title %}
  <title>Nome da receita</title>
{% endblock %}

{% block header %}

  <header class="header-receitas">
      <div class="logo-receitas">
          <a href="/receitas">
              <img src="/image/logo-receitas.png" alt="logo">
          </a>
      </div>
  </header>

{% endblock %}

{% block content %}
  <section class="receitas-mais-acessadas">
    <div class="container">
      <div class="receitas">
        <div class="recipes">

          <div class="page-recipes-topo">
            <h3>Receita: {# {{recipes.title}} #}</h3>
            <button type="submit">Salvar receita</button>
          </div>

          <section class="avatar" style="background-image: url({{recipes.imagem_receita}})"> 
            {# Imagem da receita #}
          </section>

          {# <p class="receita-title">{{recipes.title}}</p>
          <span class="receita-autor">{{recipes.author}}</span> #}
         
          <div class="items-recipes">

            <h2>Ingredientes</h2>

            <div id="ingredientes">
              <ul>
                {% for ingrediente in recipes.ingredientes %}
                  <li>{{ingrediente}}</li>
                {% endfor %}
              </ul>
            </div>
        
            <h2>Modo de preparo</h2>

            <div id="preparo">
              <ul>
                {% for preparo in recipes.modo_preparo %}
                  <li>{{preparo}}</li>
                {% endfor %}
              </ul>
            </div>
          
            <h2>Informações</h2>

            <div id="informacoes">
              <p>{{recipes.info_adicionais}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}