{% extends "layout.njk" %}

{% block content %}
    <section class="banner">
        <div class="container">
            <div class="banner-principal">
                <div class="banner-text">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda construir os melhores pratos <br>
                        com receitas criadas por profissionais <br>
                        do mundo inteiro</p>
                </div>
                <div class="banner-img">
                    <img src="/image/chef.png">
                </div>
            </div>
        </div>
    </section>

    <section class="receitas-mais-acessadas">
        <div class="container">
            <h2>Mais acessadas</h2>
            <div class="receitas">
                {% for recipe in recipes %}
                    <div class="card" id="{{ recipe.id }}">
                        <div class="card-img" style="background-image: url({{ recipe.url_imagem }})"></div>
                        <p class="receita-title"> {{ recipe.titulo }} </p>
                        <span class="receita-autor"> {{ recipe.autor }} </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}