<!DOCTYPE html>

<html lang="pt-br">
    <head>

      {% block title %}
        <title>Foodfy</title>
      {% endblock title %}

        <meta cherset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/sobre.css">
        <link rel="stylesheet" type="text/css" href="/css/receitas.css">
        <link rel="stylesheet" type="text/css" href="/css/create-recipes.css">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <!-- Material Icon - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>
        {% block header %}
            <header>
                <div class="container">
                    <div class="header">
                        <div class="header__logo">
                            <a href="/">
                                <img src="/image/logo.png">
                            </a>
                        </div>

                        <nav class="header__nav">
                            <ul class="header__nav-list">
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="/sobre">Sobre</a>
                                </li>
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="/receitas">Receitas</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %} {% endblock %}

        <footer class="footer">
            <p class="footer__desc">Todos os reservados, receitas Foodfy.</p>
        </footer>

        <script src="/scripts.js"></script>
    </body>
</html>